
	@import 'includes/helpers/_mixins';

	body
	{
		padding-top: 40px;
		background: #00F772;
		text-align: center;
		color: #333;
	}

	#logo
	{
		width: 500px;
		height: 300px;
		margin: 60px auto 20px auto;
		background-image: url('../../images/logo.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	h2
	{
		margin: 0;
		font-size: 40px;
		text-transform: uppercase;
		color: rgba( black, .4 );
	}

	h3
	{
		margin: 0;
		font-size: 30px;
		text-transform: uppercase;
		color: rgba( black, .3 );
	}

	div
	{
		margin: 15px 0;

		a
		{
			margin: 0 5px;
		}
	}