
	@import 'includes/helpers/_mixins';

	body
	{
		padding-top: 20%;
		background: #348AEB;
		text-align: center;
		color: #FFF;
	}

	h2
	{
		margin: 0;
		font-size: 50px;
		text-transform: uppercase;
		color: rgba( black, .4 );
	}

	h3
	{
		margin: 0;
		font-size: 30px;
		text-transform: uppercase;
		color: rgba( black, .3 );
	}

	div
	{
		margin: 15px 0;

		a
		{
			margin: 0 5px;
		}
	}