RewriteEngine On

RewriteRule (core|src|vendor)/(.*) index.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule www(.*) index.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule (.*) index.php [L]