
	@mixin mobile
	{
		@media only screen and (max-width: 400px) { @content }
	}

	@mixin tablet
	{
		@media only screen and (min-width: 400px) and (max-width: 700px) { @content }
	}

	@mixin laptop
	{
		@media only screen and (min-width: 700px) and (max-width: 1200px) { @content }
	}

	@mixin desktop
	{
		@media only screen and (min-width: 1200px) { @content }
	}

	@mixin button( $color1 )
	{

		$color1: lighten( $color1, 1% );
		$color2: lighten( $color1, 5% );
		$color3: lighten( $color1, 15% );

		background-color: $color2;

		&:hover
		{
			background-color: $color3;
		}
	}

	@mixin keyframes($name)
	{
		@-webkit-keyframes #{$name} { @content; }
		@-moz-keyframes #{$name} { @content; }
		@-ms-keyframes #{$name} { @content; }
		@keyframes #{$name} { @content; }
	}