
	@mixin mobile
	{
		@media only screen and (max-width: 400px) { @content }
	}

	@mixin tablet
	{
		@media only screen and (min-width: 400px) and (max-width: 700px) { @content }
	}

	@mixin laptop
	{
		@media only screen and (min-width: 700px) and (max-width: 1200px) { @content }
	}

	@mixin desktop
	{
		@media only screen and (min-width: 1200px) { @content }
	}

	@mixin button( $cor1 )
	{

		$cor2: lighten( $cor1, 10% );
		$cor3: darken( $cor1, 7% );

		$cor4: darken( $cor1, 20% );
		$cor5: lighten( $cor1, 15% );
		$cor6: darken( $cor1, 10% );

		border:1px solid $cor1;
		background-color: $cor2;
		@include background-image( linear-gradient(to bottom, $cor2, $cor3) );

		&:hover
		{
			border: 1px solid $cor2;
			background-color: $cor5;
			@include background-image( linear-gradient(to bottom, $cor5, $cor6) );

		}
	}

	@mixin keyframes($name)
	{
		@-webkit-keyframes #{$name} { @content; }
		@-moz-keyframes #{$name} { @content; }
		@-ms-keyframes #{$name} { @content; }
		@keyframes #{$name} { @content; }
	}